/* pages/classify/index.wxss */
.classify{
  padding:10rpx 0
}
.classify-item{
  width: 720rpx;
  margin:0 auto
}
.item{
  width:180rpx;
  text-align: center;
  font-size: 24rpx;
  color: #666;
  float: left;
  padding:10rpx 0;
  overflow: hidden
}
.icon{
  width:140rpx;
  height: 140rpx;
  display: block;
  margin:0 auto;
}
