.network {
  width:100%;
  background: #fdfffe;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.networkImg{
  width: 160rpx;
  height: 128rpx;
  display: block;
  margin:300rpx auto 0;
}
.p1{
  color: #656565;
  display: block;
  font-size: 32rpx;
  margin-top: 20rpx;
}
.p2{
  color: #a4a4a4;
  display: block;
  font-size: 28rpx;
  margin-top: 20rpx;
}
.p3{
  color: #adafae;
  display: block;
  font-size: 28rpx;
  margin-top: 80rpx;
}
