/* pages/circle/index.wxss */
.circle {
  background: #f8f8f8;

  .item {
    margin-bottom: 20px;
    background: #fff;
    padding: 40px;
  }
  .item .head {
    display: flex;
  }
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: block;
    margin-right: 20px;
  }
  .name {
    font-size: 28px;
    display: block;
    margin-top: 8px;
  }
  .time {
    font-size: 24px;
    color: #aeaeae;
    margin-top: 16px;
    display: block;
  }
  .item-accompany {
    line-height: 1;
  }
  .content {
    color: #333;
    margin-top: 30px;
    font-size: 32px;
  }
  .image-view {
    position: relative;
    margin-top: 20px;
  }
  .image {
    display: block;
    width: 100%;
    height: 360px;
  }
  .agree {
    display: flex;
    color: #666;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .agree .iconfont {
    color: #666;
    font-size: 42px;
  }
  .num {
    font-size: 28px;
    margin-left: 10px;
  }
  .item-agree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .comment {
    background: #f4f7fc;
    padding: 20px;
    margin-top: 30px;
  }
  .top {
    position: absolute;
    z-index: 123;
    right: 16px;
    top: 16px;
    background: #fd4344;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .myVideo {
    width: 100%;
    height: 360px;
  }

  .qs {
    padding: 6px 10px;
    font-size: 24px;
    color: #666;
  }
}
