/* pages/user/post/index.wxss */
.textarea{
  width:100%;
  height: 280rpx;
  line-height: 40rpx;
  padding: 35rpx 35rpx 0;
  font-size: 26rpx;
  color: #666;
  box-sizing: border-box;
}
.placeholder{
  color: #ccc
}
.addPic .iconfont{
  font-size: 80rpx;
  color: #b0b0b0;
}
.item{
  margin:10rpx;
  display: inline-block;
  width:210rpx;
  height:210rpx;
  position: relative;
  overflow: hidden
}
.item image{
  width: 210rpx;
  height: 210rpx;
  display: block
}
.pic-content{
  padding:30rpx;
}

.addPic{
  background: #f2f2f2;
}
.addPic .iconfont{
  text-align: center;
  padding: 55rpx 0
}

.submit{
  background: #07c062;
  color: #fff;
  text-align: center;
  width: 680rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin:40rpx auto 0;
  border-radius: 15rpx;
  font-size: 32rpx;
}
.inp-view{
  border: 1rpx solid #eee;
  margin: 0 35rpx;
  border-radius: 10rpx;
  height: 60rpx;
  font-size: 24rpx;
  line-height: 60rpx;
  padding: 0 20rpx;
}
